@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

$borderColor: #EDEDED;
$borderRadius: 5px;
$cardPadding: 10px;
$normalFontColor: #666;
$tagWidth: 400px;

#name-tag {
  margin: 50px auto 10px;
  width: $tagWidth;
  font-family: Arial, "MS Trebuchet", sans-serif;
  @include border-radius($borderRadius); 
  border: 1px solid $borderColor; 
  padding: 1px;
}

#contents {
  background-color: $borderColor;
  @include border-radius($borderRadius);
  padding: 5px;
}

#card {
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: $cardPadding;
  @include clearfix;
  
  .at {
    font-size: 90%;
    font-weight: normal;
  }
  
  #header {
    @include clearfix;
  }
  
  #name-headline {
    @include float-left;
    width: $tagWidth - 120px;
  }
  
  #name {
    color: #006699;
    font-size: 28px;
    font-weight: bold;
    font-family:  'Century Gothic', 'Helvetica', Arial, sans-serif;
  }  
  
  #headline {
    color: $normalFontColor;
    font-size: 13px;
    font-weight: bold;
    margin: 8px 0;
  }
  
  #location {
    color: $normalFontColor;
    font-size: 12px;  
  }
  
  #profile-photo {
    @include float-right;
  }
  
  #body {  
    padding: 8px 0;
  
    .section {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px dotted #CCC;
    }
    
    h2 {
      color: $normalFontColor; 
      font-weight: bold; 
      font-size: 12px;
    }
    
    ul {
      padding-top: 5px;
    }
    
    li {
      font-size: 11px; 
      color: $normalFontColor; 
      margin-left: 20px;
      line-height: 18px; 
    }    
  }
}

#event {
  @include clearfix;
  padding: $cardPadding;
  padding-bottom: 5px;
  
  #event-name {
    @include float-right;
    line-height: image-height('logo.png');
    font-size: 12px; 
    color: $normalFontColor;
  }
  
  #event-logo {
    @include float-left;
  }  
}

#login-container {
  width: 99%;
  text-align: right;
  margin-top: 10px;
  font-size: 12px; 
}

#logout { 
  color: #006699;
  text-decoration: none;
}

#landing-page {
  @include clearfix;
  width: 800px;
  margin: 50px auto;
}

#hello {
  @include border-radius(15px);
  @include single-box-shadow;
  background-color: #B31C01;
  width: 400px;
  text-align: center;
  padding: 15px 0;
  font-family: Arial, "MS Trebuchet", sans-serif;
  @include float-left;
  margin: 5px;
  
  h2 {
    color: #FFF; 
    font-size: 60px;
    font-weight: bold;
  }  
  
  #my-name-is {
    color: #FFF;
    font-size: 22px;
    padding-bottom: 10px;
  }
  
  #hello-contents {
    background-color: #FFF;
    height: 100px;
    padding-top: 10px;
    font-family: 'Covered By Your Grace', serif;
    font-size: 72px;
  }
}

#blurb {
  @include float-left;
  width: 350px;
  margin-left: 40px;
  margin-top: 10px;
  
  h2 {
    font-size: 36px;
    font-family: Arial, "MS Trebuchet", sans-serif;
  }
  
  b {
    font-weight: bold;
  }
  
  p {
    color: #444;
    margin: 20px 0;
    font-size: 16px;
    line-height: 22px; 
  }
}

#sign-in {
  text-align: center;
  
  #get-started {
    color: #444;
    font-size: 14px;
    padding-left: 5px;
  }
  
}

#customize {
  width: 800px;
  margin: 0 auto;
  @include clearfix;
  
  #options {
    @include float-left;
    margin-top: 50px;
    font-family: Arial, "MS Trebuchet", sans-serif;
    
    h2 {
      font-size: 20px;
      color: #444;
      font-weight: bold;
      margin: 10px 0 20px 0;
    }
    
    .option-label {
      width: 110px;
      font-size: 14px;
      display: inline-block;
    }
    
    .option {
      margin: 10px 0;
    }
    
    input[type=text] {
      width: 220px;
    }
    
    #full {
      margin-left: 10px;
    }
    
    #size {
      font-size: 14px;
    }
  }
  
  #badge {
    @include float-right;
  }  
}

.big-button {
  @include background-image(linear-gradient(center top, #FFF 46%, #EFEFEF 95%));
  @include border-radius(5px);
  @include box-shadow(#CCC 1px 1px 8px);
  height: 60px;  
  line-height: 60px;
  width: 300px;
  margin-bottom: 10px;
  @include clearfix;
  
  .in-logo {
    @include float-left;
    width: 40px;
    height: 40px;
    margin: 10px 15px;
    background: url('/images/in-logo-40x40.png') no-repeat scroll 0 0 transparent;
  }
  
  .button-text {
    @include float-left;
  }
}

#new-button {
  text-decoration: none;
  color: #000;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
  &:hover {
    color: #006699;
  }
}

#big-login {
  width: 600px;
  margin: 50px auto;
  text-align: center;
  
  h3 {
    font-size: 24px;
    font-family: Arial, "MS Trebuchet", sans-serif;
    color: #444;
    margin-bottom: 30px;
  }
}

#done {
  text-align: center;
  margin: 40px 0;
}

.blue-button {
  @include background-image(linear-gradient(center top, #B4D8E9 0%, #DCEDF5 100%));
  @include border-radius(3px);
  border: 1px solid #64B0D4;
  color: #006699;
  width: 220px;
  height: 26px;
  line-height: 13px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 10px 2px; 
}

.overlay {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 12px;
  background-color: #fff;
  display: none;
  z-index: 10000;
  width: 350px;
  padding: 15px;
  text-align: left;
  border: 2px solid #333;
  @include border-radius(6px);
  @include box-shadow(#CCC 0 0 50px);  
  @include opacity(0.9);
  h2 {
    margin: 0 0 20px;
    padding: 0px 0 13px 0px;
    border-bottom: 1px solid #333;
    font-size: 20px;    
  }   
  p { margin: 20px 0; }
  a.close {
    background: url('/images/close.png');
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
  } 
}

#show-url {
  color: #006699; 
  text-decoration: none; 
  font-size: 18px; 
  font-family: Arial, "MS Trebuchet", sans-serif;
  &:hover {
    text-decoration: underline;
  }
}

#show-url-container {
  text-align: center;
}

#print {
  text-align: center;
  
  a {
    color: #006699;
    text-decoration: none;
    display: block; 
    height: 35px; 
    line-height: 35px; 
    background: url("/images/print_icon.gif") no-repeat scroll 0px -4px transparent;
    width: 100px;
    margin: 0 auto;
  }
}

#footer {
  clear: both;
  margin: 70px auto 20px;
  padding-top: 6px;
  border-top: 1px solid #CCC;
  width: 800px;
  text-align: center;
  font-size: 12px;
  
  .footer-item {
    padding: 0 20px;
    border-right: 1px solid #CCC;
    
    &.last {
      border-right: none;
    } 
  }
  
  a {
    color: #006699;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin status-style {
  height: 50px;
  font-size: 11px; 
  color: #666;
  line-height: 18px; 
}

#status {
  @include status-style;
  padding-top: 8px; 
}

#status-text {
  @include status-style;
  width: 367px; 
  border: 0;   
  height: 51px; 
  
  &.empty {
    text-align: center; 
    line-height: 51px;
    color: #CCC;
    border: 1px solid #EEE;
  }
}
