/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, ../../sass/main.scss */
#name-tag {
  margin: 50px auto;
  width: 400px;
  font-family: Arial, "MS Trebuchet", sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ededed;
  padding: 1px;
}

/* line 20, ../../sass/main.scss */
#contents {
  background-color: #ededed;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}

/* line 26, ../../sass/main.scss */
#card {
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 32, ../../sass/main.scss */
#card .at {
  font-size: 90%;
  font-weight: normal;
}
/* line 37, ../../sass/main.scss */
#card #header {
  overflow: hidden;
  *zoom: 1;
}
/* line 41, ../../sass/main.scss */
#card #name-headline {
  display: inline;
  float: left;
  width: 280px;
}
/* line 46, ../../sass/main.scss */
#card #name {
  color: #006699;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Century Gothic', 'Helvetica', Arial, sans-serif;
}
/* line 53, ../../sass/main.scss */
#card #headline {
  color: #666666;
  font-size: 13px;
  font-weight: bold;
  margin: 8px 0;
}
/* line 60, ../../sass/main.scss */
#card #location {
  color: #666666;
  font-size: 12px;
}
/* line 65, ../../sass/main.scss */
#card #profile-photo {
  display: inline;
  float: right;
}
/* line 69, ../../sass/main.scss */
#card #body {
  padding: 8px 0;
}
/* line 72, ../../sass/main.scss */
#card #body .section {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dotted #CCC;
}
/* line 78, ../../sass/main.scss */
#card #body h2 {
  color: #666666;
  font-weight: bold;
  font-size: 12px;
}
/* line 84, ../../sass/main.scss */
#card #body ul {
  padding-top: 5px;
}
/* line 88, ../../sass/main.scss */
#card #body li {
  font-size: 11px;
  color: #666666;
  margin-left: 20px;
  line-height: 18px;
}
/* line 95, ../../sass/main.scss */
#card #body #status {
  height: 50px;
}

/* line 101, ../../sass/main.scss */
#event {
  overflow: hidden;
  *zoom: 1;
  padding: 10px;
  padding-bottom: 5px;
}
/* line 106, ../../sass/main.scss */
#event #event-name {
  display: inline;
  float: right;
  line-height: 25px;
  font-size: 12px;
  color: #666666;
}
/* line 113, ../../sass/main.scss */
#event #event-logo {
  display: inline;
  float: left;
}

/* line 118, ../../sass/main.scss */
#login-container {
  width: 99%;
  text-align: right;
  margin-top: 10px;
  font-size: 12px;
}

/* line 125, ../../sass/main.scss */
#logout {
  color: #006699;
  text-decoration: none;
}

/* line 130, ../../sass/main.scss */
#landing-page {
  overflow: hidden;
  *zoom: 1;
  width: 800px;
  margin: 50px auto;
}

/* line 136, ../../sass/main.scss */
#hello {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background-color: #B31C01;
  width: 400px;
  text-align: center;
  padding: 15px 0;
  font-family: Arial, "MS Trebuchet", sans-serif;
  display: inline;
  float: left;
  margin: 5px;
}
/* line 147, ../../sass/main.scss */
#hello h2 {
  color: #FFF;
  font-size: 60px;
  font-weight: bold;
}
/* line 153, ../../sass/main.scss */
#hello #my-name-is {
  color: #FFF;
  font-size: 22px;
  padding-bottom: 10px;
}
/* line 159, ../../sass/main.scss */
#hello #hello-contents {
  background-color: #FFF;
  height: 100px;
  padding-top: 10px;
  font-family: 'Covered By Your Grace', serif;
  font-size: 72px;
}

/* line 168, ../../sass/main.scss */
#blurb {
  display: inline;
  float: left;
  width: 350px;
  margin-left: 40px;
  margin-top: 10px;
}
/* line 174, ../../sass/main.scss */
#blurb h2 {
  font-size: 36px;
  font-family: Arial, "MS Trebuchet", sans-serif;
}
/* line 179, ../../sass/main.scss */
#blurb b {
  font-weight: bold;
}
/* line 183, ../../sass/main.scss */
#blurb p {
  color: #444;
  margin: 20px 0;
  font-size: 16px;
  line-height: 22px;
}

/* line 191, ../../sass/main.scss */
#sign-in {
  text-align: center;
}
/* line 194, ../../sass/main.scss */
#sign-in #get-started {
  color: #444;
  font-size: 14px;
  padding-left: 5px;
}

/* line 202, ../../sass/main.scss */
#customize {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 207, ../../sass/main.scss */
#customize #options {
  display: inline;
  float: left;
  margin-top: 50px;
  font-family: Arial, "MS Trebuchet", sans-serif;
}
/* line 212, ../../sass/main.scss */
#customize #options h2 {
  font-size: 20px;
  color: #444;
  font-weight: bold;
  margin: 10px 0 20px 0;
}
/* line 219, ../../sass/main.scss */
#customize #options .option-label {
  width: 110px;
  font-size: 14px;
  display: inline-block;
}
/* line 225, ../../sass/main.scss */
#customize #options .option {
  margin: 10px 0;
}
/* line 229, ../../sass/main.scss */
#customize #options input[type=text] {
  width: 220px;
}
/* line 233, ../../sass/main.scss */
#customize #options #full {
  margin-left: 10px;
}
/* line 237, ../../sass/main.scss */
#customize #options #size {
  font-size: 14px;
}
/* line 242, ../../sass/main.scss */
#customize #badge {
  display: inline;
  float: right;
}

/* line 247, ../../sass/main.scss */
.big-button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(46%, #ffffff), color-stop(95%, #efefef));
  background-image: -webkit-linear-gradient(center top, #ffffff 46%, #efefef 95%);
  background-image: -moz-linear-gradient(center top, #ffffff 46%, #efefef 95%);
  background-image: -o-linear-gradient(center top, #ffffff 46%, #efefef 95%);
  background-image: linear-gradient(center top, #ffffff 46%, #efefef 95%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #cccccc 1px 1px 8px;
  -webkit-box-shadow: #cccccc 1px 1px 8px;
  -o-box-shadow: #cccccc 1px 1px 8px;
  box-shadow: #cccccc 1px 1px 8px;
  height: 60px;
  line-height: 60px;
  width: 300px;
  margin-bottom: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 257, ../../sass/main.scss */
.big-button .in-logo {
  display: inline;
  float: left;
  width: 40px;
  height: 40px;
  margin: 10px 15px;
  background: url("/images/in-logo-40x40.png") no-repeat scroll 0 0 transparent;
}
/* line 265, ../../sass/main.scss */
.big-button .button-text {
  display: inline;
  float: left;
}

/* line 270, ../../sass/main.scss */
#new-button {
  text-decoration: none;
  color: #000;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/* line 278, ../../sass/main.scss */
#new-button:hover {
  color: #006699;
}

/* line 283, ../../sass/main.scss */
#big-login {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}
/* line 288, ../../sass/main.scss */
#big-login h3 {
  font-size: 24px;
  font-family: Arial, "MS Trebuchet", sans-serif;
  color: #444;
  margin-bottom: 30px;
}
