<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Create name tags and badges for any conference or event using your LinkedIn Profile. | Name Tag 2.0</title>
    <link href='/css/application.css' rel='stylesheet' type='text/css'/>
    <link  href="http://fonts.googleapis.com/css?family=Covered+By+Your+Grace:regular" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="login-container">
      <div id="logout-container"></div>
      <script type="IN/Login"></script>
    </div>
    <div id="main"></div> 
    <div id="done-overlay" class="overlay">
      <div id="done-contents"></div>
    </div>    
    {>fork/}  
    {>footer/}
  	<script type="text/javascript" src="/js/assets.js"></script>
    <script type="text/javascript">    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23223247-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();    
    </script>  	
  </body>
</html>
