<div id="landing-page">
  <div id="hello">
    <h2>HELLO!</h2>
    <div id="my-name-is">My name is</div>
    <div id="hello-contents">
      Name Tag 2.0
    </div>
  </div>
  <div id="blurb">
    <h2>What's in a name?</h2>
    <p>
      <b>Event organizers</b>: create modern name tags and badges for any conference or event.
    </p>
    <p> 
      <b>Event attendees</b>: sign in with your LinkedIn Profile to get a filled out and printable name tag or badge.
    </p>
    <div id="sign-in">
      <script type="IN/Login" data-onAuth="onLinkedInAuth" data-size="large"></script><span id="get-started">to get started!</span>
    </div>        
  </div>
</div>