<div id="name-tag" class="{style}">
  <div class="tag-container">
    <div class="tag-contents">
      {?namePositionTop}
        {>eventHeader/}
      {/namePositionTop}    
      <div class="tag-inner {?extended}extended{/extended}">      
        <div id="header">
          <div id="name-headline">
            <h1 id="name">{firstName} {lastName}</h1>
            <div id="headline">{headline}</div>
            {?location}<div id="location">{location.name}</div>{/location}  
          </div>
          <div id="profile-photo">
            {?pictureUrl}
              <img src="{pictureUrl}" alt="{firstName}'s Profile Photo"/>            
            {:else}
              <img src="images/no-photo.png" alt="{firstName}'s Profile Photo"/>
            {/pictureUrl}                       
          </div>                        
        </div>
        {?extended}
          <div id="body">
            {?positions.values}
              <div class="section">
                <h2>Experience</h2> 
                <ul>           
                  {#loop:positions.values end="3"}
                    <li>{.title} <span class="at">at</span> {.company.name}</li>
                  {/loop}
                </ul>
              </div>
            {/positions.values}
            {?educations.values}
              <div class="section">
                <h2>Education</h2>
                <ul>
                  {#loop:educations.values end="2"}
                    <li>
                      {.degree}{?.degree}<span class="at">,</span>{/.degree} 
                      {.fieldOfStudy}{?.fieldOfStudy}<span class="at">,</span>{/.fieldOfStudy} 
                      {.schoolName}
                    </li>
                  {/loop}
                </ul>
              </div>
            {/educations.values}
            <div class="section">
              <h2>Status</h2>
              <div id="status">
                {?hideStatusInput}
                  {?hasStatus}
                    {status}
                  {/hasStatus}
                {:else}
                  <textarea id="status-text" class="empty">Enter a status</textarea>
                {/hideStatusInput}
              </div>
            </div>
          </div>
        {/extended}      
      </div>
      {^namePositionTop}
        {>eventHeader/}
      {/namePositionTop}                
    </div>          
  </div>
  {^hideStatusInput}
    <h3>(Front)</h3>
  {/hideStatusInput}  
  <div class="tag-container back-container">
    <div class="tag-contents">
      {?namePositionTop}
        {>eventHeader/}
      {/namePositionTop}      
      <div class="tag-inner {?extended}extended{/extended}">
        <div class="public-profile-url">
          <div class="back-label">Connect with me on LinkedIn</div>
          <a href="{publicProfileUrl}">{publicProfileUrl}</a>
        </div>
        <div id="qr">
          <img class="qr-image" src="http://chart.apis.google.com/chart?cht=qr&chl={publicProfileUrl|u}&chs=100x100" alt="QR Code"/>
        </div>
        {?extended}
          <div id="created-using">
            <div class="back-label">Created using Name Tag 2.0</div> 
            <a href="http://nametag.duostack.net">http://nametag.duostack.net</a>
          </div>
        {/extended}        
      </div>
      {^namePositionTop}
        {>eventHeader/}
      {/namePositionTop}      
    </div>
  </div>
  {^hideStatusInput}
    <h3>(Back)</h3>
  {/hideStatusInput}  
</div>
<div id="print">
  {^hidePrint}
    <a href="#print">Print</a>
  {/hidePrint}
</div>