<h2>Customize your name tag</h2>
<form id="options-form">
  <div class="option">
    <label for="event-name" class="option-label">Event name:</label>
    <input type="text" name="eventName" id="eventName" value="{eventName}" class="event-options"/>
  </div>
  <div class="option">
    <label for="event-logo" class="option-label">Event logo url:</label>
    <input type="text" name="eventLogo" id="eventLogo" value="{eventLogo}" class="event-options"/>
  </div>
  <div class="option radio">
    <label class="option-label">Logo position:</label>
    <input type="radio" name="namePositionTop" value="false" {^namePositionTop}checked="checked"{/namePositionTop} id="bottom-option" class="event-options"/>
    <label class="radio-label" for="bottom-option">Bottom</label>    
    <input type="radio" name="namePositionTop" value="true" {?namePositionTop}checked="checked"{/namePositionTop} id="top-option" class="event-options"/>
    <label class="radio-label" for="top-option">Top</label>        
  </div>  
  <div class="option radio">
    <label class="option-label">Size:</label>
    <input type="radio" name="extended" value="false" {^extended}checked="checked"{/extended} id="mini" class="event-options"/>
    <label class="radio-label" for="mini">Mini</label>
    <input type="radio" name="extended" value="true" {?extended}checked="checked"{/extended} id="full" class="event-options"/>
    <label class="radio-label" for="full">Full</label>
  </div>
  <div class="option radio">
    <label class="option-label">Style:</label>
    <input type="radio" name="style" value="gray" {#equals:style value="gray"}checked="checked"{/equals} id="gray" class="event-options"/>
    <label class="radio-label" for="gray">Gray</label>
    <input type="radio" name="style" value="white" {#equals:style value="white"}checked="checked"{/equals} id="white" class="event-options"/>
    <label class="radio-label" for="white">White</label>
  </div>  
</form>
<div id="done">
  <input type="button" class="blue-button" value="Done"/>
</div>